<% if options[:href].present? %>
    <a class="btn red btn-cancel <%= options[:class] if options[:class].present? %>" href="<%= options[:href] if options[:href].present? %>">
        <i class="fa fa-times"></i> <%= options[:text] if options[:text].present? %>
    </a>
<% else %>
    <button type="button" class="btn red btn-cancel <%= options[:class] if options[:class].present? %>">
        <i class="fa fa-times"></i> <%= options[:text] if options[:text].present? %>
    </button>
<% end %>