<div class="form-group">
    <% if options[:label].present? %><label><%= options[:label] %></label><% end %>
    <div class="mt-checkbox-inline radio-padding-top">
        <% if options[:options].present? %>
            <% options[:options].each_with_index do |option| %>
                <label class="mt-checkbox">
                    <input type="checkbox" name="<%= options[:name] if options[:name].present? %>" id="<%= options[:id] if options[:id].present? %>" value="<%= option[:value] %>"> <%= option[:text] %>
                    <span></span>
                </label>
            <% end %>
        <% end %>
    </div>
</div>