<div class="form-group dataselect">
    <label class="control-label"><%= options[:label] if options[:label].present? %></label>
    <input
        type="hidden"
        name="<%= options[:name] if options[:name].present? %>"
        value="1"
        class="dataselect-value"
    />
    <input
        class="form-control dataselect-control"
        data-url="<%= options[:url] if options[:url].present? %>"
        placeholder="<%= options[:placeholder] if options[:placeholder].present? %>"
        value='<%= options[:text] if options[:text].present? %>'
        <% if options[:create] %>
            create-url='<%= options[:create][:url] if options[:create][:url].present? %>'
            create-title='<%= options[:create][:title] if options[:create][:title].present? %>'
            input-selector='<%= options[:create][:input_selector] if options[:create][:input_selector].present? %>'
            container-selector='<%= options[:create][:container_selector] if options[:create][:container_selector].present? %>'
            modal-size='<%= options[:create][:modal_size] if options[:create][:modal_size].present? %>'
        <% end %>
    />
    <span class="pointer"></span>
    <div class="dataselect-data">
        <ul>
            <li class="dataselect-hook"></li>
            <li class="create-new">
                <a href="#create"><i class="fa fa-plus"></i> Create "<span class="text-bold dataselect-new-name"></span>"</a>
            </li>
            <li class="create-edit">
                <a href="#create"><i class="fa fa-plus"></i> Create and Edit</a>
            </li>
        </ul>
    </div>
</div>