<div class="form-group last images-upload">
    <% if options[:label].present? %>
        <label><%= options[:label] %></label>
        <% if options[:required] == true %>
            <span class="required" aria-required="true"> * </span>
        <% end %>
    <% end %>
    <div>
        <% options[:images].each_with_index do |image,index| %>
            <% if !options[:max].present? || options[:max] > index %>
                <% uid = unique_id() %>
                
                <% if options[:hidden_params].present? %>
                    <% options[:hidden_params].each do |param| %>
                        <input type="hidden" name="<%= param[:name].gsub('__index__', index.to_s) %>" value="<%= param[:value] %>" />
                    <% end %>
                <% end %>
                
                <div class="fileinput <%= image.instance_eval(options[:image_attribute]).present? ? 'fileinput-exists' : 'fileinput-new' %> image-box" data-provides="fileinput">
                
                    <% if options[:destroy_name].present? %>
                        <input class="destroy_input" type="hidden" name="<%= options[:destroy_name].gsub('__index__', index.to_s) %>" value="" />
                    <% end %>
                    
                    <% if options[:id_name].present? %>
                        <input class="name_input" type="hidden" name="<%= options[:id_name].gsub('__index__', index.to_s) %>" value="<%= image.id %>" />
                    <% end %>
                    
                    <% if options[:name_cache].present? %>
                        <input class="name_input" type="hidden" name="<%= options[:name_cache].gsub('__index__', index.to_s) %>" value="<%= image.instance_eval(options[:origin_attribute] + "_cache") %>" />
                    <% end %>
                
                    <div class="fileinput-new thumbnail"
                        style="width: <%= options[:width].present? ? options[:width] : '100' %>px; height: <%= options[:height].present? ? options[:height] : '100' %>px;">
                        <img src="<%= url_for("/backend/img/placeholder.jpg") %>" alt="" /> </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"
                        style="max-width: <%= options[:width].present? ? options[:width] : '100' %>px; max-height: <%= options[:height].present? ? options[:height] : '100' %>px;">
                        <% if image.instance_eval(options[:image_attribute]).present? %>
                            <img src="<%=image.instance_eval(options[:image_attribute]) %>" alt="" />
                        <% end %>
                    </div>
                    <div style="position: absolute;
                        top: 0;
                        right: 0;">
                        <span class="btn default btn-file hide">
                            <span class="fileinput-new"> <%= t('core.img_select') %> </span>
                            <span class="fileinput-exists"> <%= t('core.img_update') %> </span>
                            <input type="file" name="<%= options[:name].gsub('__index__', index.to_s) if options[:name].present? %>"> </span>
                            <a style="padding: 6px;" href="javascript:;" class="btn red fileinput-exists remove-image" data-dismiss="fileinput"> <i class="fa fa-close"></i> </a>
                        </span>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>