<div class="form-group <%= "has-error" if options[:errors].present? %>">
    <label for="<%= options[:id] if options[:id].present? %>">
        <%= options[:label] if options[:label].present? %>
        <% if options[:required] == true %>
            <span class="required" aria-required="true"> * </span>
        <% end %>
    </label>
    
    <% if options[:help].present? %>
        <i class="fa fa-info-circle right tooltips icon-default-color"
            data-original-title="<%= options[:help] %>"
            data-container="body"></i>
    <% end %>
    
    <input <%= 'required=required' if options[:required] == true %>
           autocomplete="off"
           type="password"
           class="form-control spinner"
           <% if options[:id].present? %>id="<%= options[:id] %>"<% end %>
           name="<%= options[:name] if options[:name].present? %>"
           placeholder="<%= options[:placeholder] if options[:placeholder].present? %>"
    >
           
    <% if options[:errors].present? %>
        <span class="help-block"> <%= options[:errors].join('<br/>').html_safe %></span>
    <% end %>
</div>