<div class="form-group">
    <label class="control-label"><%= options[:label] if options[:label].present? %></label>
    <select name="<%= options[:name] if options[:name].present? %>" id="<%= options[:id] if options[:id].present? %>" class="bs-select form-control" data-live-search="true" data-size="8">
        <% if options[:options].present? %>
            <% options[:options].each_with_index do |option| %>
                <option value="<%= option[:value] %>">
                    <%= option[:text] %>
                </option>
            <% end %>
        <% end %>
    </select>
</div>