<div class="form-group <%= "has-error" if options[:errors].present? %>">
    <label class="control-label">
        <%= options[:label] if options[:label].present? %>
        <% if options[:required] == true %>
            <span class="required" aria-required="true"> * </span>
        <% end %>
    </label>
    <select class="bs-select form-control select2" data-live-search="true" data-size="8"
        name="<%= options[:name] if options[:name].present? %>"
        id="<%= options[:id] if options[:id].present? %>">
        <% if options[:options].present? %>
            <% options[:options].each_with_index do |option| %>
                <option <%= 'selected' if options[:value] == option[:value] %>
                    value="<%= option[:value] %>">
                    <%= option[:text] %>
                </option>
            <% end %>
        <% end %>
    </select>
    <% if options[:errors].present? %>
        <span class="help-block"> <%= options[:errors].join('<br/>').html_safe %></span>
    <% end %>
</div>