<div class="form-group">
    <label><%= options[:label] if options[:label].present? %></label>
    <% if options[:help].present? %>
        <i class="fa fa-info-circle right tooltips icon-default-color"
        data-original-title="<%= options[:help] %>"
        data-container="body"></i>
    <% end %>
    <textarea class="form-control" rows="3"
        name="<%= options[:name] if options[:name].present? %>"
        placeholder="<%= options[:placeholder] if options[:placeholder].present? %>"
    ><%= options[:value] if options[:value].present? %></textarea>
</div>