<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_users.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("email") %>
                <th class="sortable" sort-by='erp_users.email'>
                    <%= t('.email') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("user_group") %>
                <th>
                    <%= t('.user_group') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center">
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="text-center sortable" sort-by='erp_users.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: user.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td>
                        <span class="font-blue-soft"><%= user.name %></span>
                    </td>
                <% end %>
                <% if get_columns(params).include?("email") %>
                    <td><%= user.email %></td>
                <% end %>
                <% if get_columns(params).include?("user_group") %>
                    <td><%= user.user_group_name %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if user.active == false %>
                        <%= erp_component('label/danger', {
                            text: t('.inactive')
                        }) %>
                    <% else %>
                        <%= erp_component('label/success', {
                            text: t('.active')
                        }) %>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: user.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="center"><%= user.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%=
                        actions = []
                        
                        actions << {
                            text: '<i class="fa fa-edit"></i> '+t('edit'),
                            href: erp.edit_backend_user_path(user)
                        } if can? :update, user
                        
                        actions << {
                            text: '<i class="fa fa-lock"></i> '+t('.deactivate'),
                            href: erp.deactivate_backend_users_path(id: user),
                            data_method: 'PUT',
                            class: 'ajax-link',
                            data_confirm: t('.deactivate_confirm')
                        } if can? :deactivate, user
                        
                        actions << {
                            text: '<i class="fa fa-unlock"></i> '+t('.activate'),
                            href: erp.activate_backend_users_path(id: user),
                            data_method: 'PUT',
                            class: 'ajax-link',
                            data_confirm: t('.activate_confirm')
                        } if can? :activate, user
                        
                        erp_datalist_row_actions(actions) if !actions.empty?
                    %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @users.empty? %>
    <div class="datalist-empty-line"><%= t('no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@users) %>
