<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("email") %>
                <th>
                    <%= t('.email') %>
                </th>
            <% end %>
            <th>
                Nhóm
            </th>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: user.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= link_to user.name, erp.edit_backend_user_path(user) %></td>
                <% end %>
                <% if get_columns(params).include?("email") %>
                    <td><%= user.email %></td>
                <% end %>
                <td><%= user.user_group_name %></td>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if user.active == false %>
                        <%= erp_component('label/danger', {
                            text: t('.inactive')
                        }) %>
                    <% else %>
                        <%= erp_component('label/success', {
                            text: t('.active')
                        }) %>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="center"><%= user.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp.edit_backend_user_path(user)
                            },
                            {
                                text: '<i class="fa fa-check"></i> '+t('.deactivate'),
                                href: erp.deactivate_backend_users_path(id: user),
                                data_method: 'PUT',
                                hide: !user.active,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-exclamation"></i> '+t('.activate'),
                                href: erp.activate_backend_users_path(id: user),
                                data_method: 'PUT',
                                hide: user.active,
                                class: 'ajax-link'
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                href: erp.backend_user_path(user),
                                data_method: 'DELETE',
                                data_confirm: t('.delete_confirm'),
                                class: 'ajax-link'
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @users.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@users) %>
