<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <% if get_columns(params).include?('name') %><th width="30%" class="text-left">Tên tài khoản</th><% end %>
            <% if get_columns(params).include?('email') %><th class="text-left">Địa chỉ mail</th><% end %>
            <% if get_columns(params).include?('user_group') %><th class="text-left">Nhóm tài khoản</th><% end %>
            <% if get_columns(params).include?('status') %><th class="text-center">Trạng thái</th><% end %>
            <% if get_columns(params).include?('creator') %><th class="text-center">Người tạo</th><% end %>
            <% if get_columns(params).include?('created_at') %><th class="text-center">Ngày tạo</th><% end %>
            <th width="8%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr class="odd gradeX">
                <% if get_columns(params).include?('name') %><td class="text-left"><%= link_to user.get_name, erp.edit_backend_user_path(user), class: 'title' %></td><% end %>
                <% if get_columns(params).include?('email') %><td class="text-left"><%= user.email %></td><% end %>
                <% if get_columns(params).include?('user_group') %><td class="text-left"><%= user.get_user_group_name %></td><% end %>
                <% if get_columns(params).include?('status') %><td class="text-center"><% if user.active == false %><%= erp_component('label/danger', {text: 'Đã bị khóa'}) %><% else %><%= erp_component('label/success', {text: 'Đang sử dụng'}) %><% end %></td><% end %>
                <% if get_columns(params).include?('creator') %><td class="text-center"><%= erp_component('avatar', {user: user.creator}) %></td><% end %>
                <% if get_columns(params).include?('created_at') %><td class="text-center"><%= user.created_at.strftime('%d-%m-%Y') %></td><% end %>
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="fa fa-cog"></i>Lựa chọn<i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <% if user.active %><li><%= link_to '<i class="fa fa-lock"></i> Khóa sử dụng'.html_safe, erp.deactivate_backend_users_path(id: user), method: 'PUT', data: {confirm: 'Bạn có chắc chắn muốn khóa tài khoản này không?'}, class: 'ajax-link' %></li><% end %>
                            <% if !user.active %><li><%= link_to '<i class="fa fa-unlock"></i> Mở sử dụng'.html_safe, erp.activate_backend_users_path(id: user), method: 'PUT', data: {confirm: 'Bạn có chắc chắn muốn mở tài khoản này không?'}, class: 'ajax-link' %></li><% end %>
                        </ul>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @users.empty? %><div class="datalist-empty-line">Danh Sách Tài Khoản Hiện Chưa Có Lựa Chọn Phù Hợp</div><% end %>
<%= erp_datalist_pagination(@users) %>