<% content_for :title do %>
    <%= t('.create') %>
<% end %>

<% content_for :page_title do %>
    <a href="<%= erp.backend_users_path %>">
        <i class="fa fa-users"></i> <%= t('.user') %></a> / <%= t('.create') %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @user.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', user: @user %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
