<% content_for :title do %>
    <%= t('core.create') %>
<% end %>

<% content_for :page_title do %>    
    <a href=""><i class="fa fa-user"></i> <%= t('core.user') %></a> / <%= t('core.create') %>
<% end %>

<div class="row">
    <div class="col-md-6">
        <% if @user.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <%= render 'form', user: @user %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>