
<div class="profile-sidebar">
    <div class="portlet light profile-sidebar-portlet ">
        <div class="profile-userpic">
            <img src="<%= user.avatar.present? ? user.avatar.profile : url_for('/backend/img/placeholder.jpg') %>" class="img-responsive">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name"><%= user.get_name %></div>
            <div class="profile-desc-link"><%= user.email %></div>
            <div class="margin-top-10 profile-usertitle-job"><%= user.get_user_group_name %></div>
        </div>
    </div>
</div>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">HỒ SƠ CỦA TÔI</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="<%= 'active' if !params[:tab].present? or params[:tab] == 'personal' %>">
                            <a href="#tab_personal" data-toggle="tab">Thông tin cá nhân</a>
                        </li>
                        <li class="<%= 'active' if params[:tab] == 'password' %>">
                            <a href="#tab_password" data-toggle="tab">Thay đổi mật khẩu</a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane <%= 'active' if !params[:tab].present? or params[:tab] == 'personal' %>" id="tab_personal">
                            <%= form_for '', url: erp.update_contact_backend_accounts_path, html: {multipart: false} do |f| %>
                                <div class="row">
                                    <div class="col-md-6">
                                        <%= erp_form_control('fileinput',{
                                            name: 'user[avatar]',
                                            label: 'Avatar tài khoản'
                                        }) %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= erp_form_control('text', {
                                            name: 'user[name]',
                                            value: user.name,
                                            label: 'Tên người dùng',
                                            placeholder: 'Nhập tên người dùng...',
                                            required: true,
                                            errors: user.errors.full_messages_for(:name)
                                        }) %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <%= erp_form_control('text',{
                                            name: 'contact[name]',
                                            value: @contact.name,
                                            label: 'Họ và tên',
                                            placeholder: 'Nhập họ và tên...',
                                            required: true,
                                            errors: user.errors.full_messages_for(:name)
                                        }) %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= erp_form_control('date',{
                                            name: 'contact[birthday]',
                                            value: @contact.birthday,
                                            label: 'Năm sinh',
                                            placeholder: 'Chọn năm sinh phù hợp...'
                                        }) %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <%= erp_form_control('email',{
                                            name: 'contact[email]',
                                            value: @contact.email,
                                            label: 'Địa chỉ mail',
                                            placeholder: 'Nhập địa chỉ email...'
                                        }) %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= erp_form_control('text',{
                                            name: 'contact[phone]',
                                            value: @contact.phone,
                                            label: 'Số điện thoại',
                                            placeholder: 'Nhập số điện thoại...'
                                        }) %>
                                    </div>
                                </div>
                                <div class="margiv-top-10"><%= erp_component('button/save', {text: 'LƯU THÔNG TIN'}) %></div>
                            <% end %>
                        </div>
                        <div class="tab-pane <%= 'active' if params[:tab] == 'password' %>" id="tab_password">
                            <%= form_for '', url: erp.update_password_backend_accounts_path, html: {multipart: true} do |f| %>
                                <div class="row">
                                    <div class="col-md-4">
                                        <%= erp_form_control('password',{
                                            name: 'user[password]',
                                            label: 'Mật khẩu mới',
                                            placeholder: 'Nhập mật khẩu mới...',
                                            required: true,
                                        }) %>
                                    </div>
                                    <div class="col-md-4">
                                        <%= erp_form_control('password',{
                                            name: 'user[password_confirmation]',
                                            label: 'Xác nhận mật khẩu mới',
                                            placeholder: 'Nhập lại xác nhận mật khẩu mới...',
                                            required: true,
                                        }) %>
                                    </div>
                                    <div class="col-md-4">
                                        <%= erp_form_control('password',{
                                            name: 'user[current_password]',
                                            label: 'Mật khẩu hiện tại',
                                            placeholder: 'Nhập mật khẩu hiện tại...',
                                            help: 'Vì lý do bảo mật, xin vui lòng cung cấp mật khẩu hiện tại của bạn.',
                                            required: true,
                                        }) %>
                                    </div>
                                </div>
                                <div class="margin-top-10"><%= erp_component('button/save', {text: 'LƯU THÔNG TIN'}) %></div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>