<div class="form-group">
    <label><%= options[:label] if options[:label].present? %></label>
    <div class="mt-checkbox-inline">
        <% if options[:options].present? %>
            <% options[:options].each_with_index do |option,id| %>
                <label class="mt-checkbox">
                    <input type="checkbox" name="<%= options[:name] if options[:name].present? %>" id="<%= options[:id] if options[:id].present? %>" value="<%= option[:value] %>"> <%= option[:text] %>
                    <span></span>
                </label>
            <% end %>
        <% end %>
    </div>
</div>