<div class="form-group form-md-line-input form-md-floating-label">
    <input type="text"
           class="form-control input-icon input-icon-lg"
           id="<%= options[:name] if options[:name].present? %>"
           name="<%= options[:name] if options[:name].present? %>"
           value="<%= options[:value] if options[:value].present? %>"
    >
    <label for="<%= options[:name] if options[:name].present? %>"><%= options[:label] if options[:label].present? %></label>
    <span class="help-block"><%= options[:help] if options[:help].present? %></span>
</div>