<%= form_for([erp, :backend, user_group]) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'user_group[name]',
                                    value: user_group.name,
                                    label: t('.name'),
                                    placeholder: t('.enter_user_group_name'),
                                    required: true,
                                    errors: user_group.errors.full_messages_for(:name)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control("textarea", {
                                    name: 'user_group[description]',
                                    value: user_group.description,
                                    label: t('.description'),
                                    placeholder: t('.enter_description'),
                                    required: true,
                                    errors: user_group.errors.full_messages_for(:description),
                                    rows: 1
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h2 class="font-green-meadow">Phân quyền cho nhóm người dùng</h2>
    
    <div class="row permissions-table">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <% user_group.get_permissions.each do |group| %>
                        <%
                            group_name = group[0]
                            engines = group[1]
                        %>
                        <h3>
                            <span class="uppercase"><%= t("permission.group_#{group_name}") %></span>
                            <span class="permission-quick-check">
                                <span class="permission-quick-check-on">Cho phép tất cả</span>
                                |
                                <span class="permission-quick-check-off">Bỏ quyền tất cả</span>
                            </span>
                        </h3>
                        <div class="group-box">
                            <div class="row">
                                <% engines.each do |engine| %>
                                    <%
                                        engine_name = engine[0]
                                        controllers = engine[1]
                                    %>
                                    <!--<h4><%= t("permission.#{group_name}.engine_#{engine_name}") %></h4>-->
                                    <% controllers.each do |controller| %>
                                        <%
                                            controller_name = controller[0]
                                            permissions = controller[1]
                                        %>
                                        <div class="col-md-6">
                                            <h4><%= t("permission.#{group_name}.#{engine_name}.controller_#{controller_name}") %>
                                                <em>
                                                    <span class="permission-quick-check">
                                                        <span class="permission-quick-check-on">Cho phép tất cả</span>
                                                        |
                                                        <span class="permission-quick-check-off">Bỏ quyền tất cả</span>
                                                    </span>
                                                </em>
                                            </h4>
                                            <div class="permissions-list">
                                                <table width="100%">
                                                    <% permissions.each do |permission| %>
                                                        <%
                                                            permission_name = permission[0]
                                                            action = permission[1]
                                                        %>
                                                        <tr>
                                                            <td width="50%"><%= t("permission.#{group_name}.#{engine_name}.#{controller_name}.#{permission_name}") %></td>
                                                            <td>
                                                                <%= erp_form_control("radio", {
                                                                    name: "permissions[#{group_name}][#{engine_name}][#{controller_name}][#{permission_name}][value]",
                                                                    value: action[:value],
                                                                    label: '',
                                                                    options: action[:options],
                                                                    icheck: 'no',
                                                                }) %>
                                                            </td>
                                                        </tr>
                                                    <% end %>
                                                </table>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp.backend_user_groups_path
    }) %>
<% end %>
