<div class="btn-group datalist-list-action">
    <a class="btn blue-dark" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="fa fa-th-list"></i>
        <%= t('core.actions') %>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-left">
        <% actions.each do |act| %>
            <% if act[:divider] %>
                <li class="divider"></li>
            <% else %>
                <li>
                    <a
                        href="<%= act[:url] if act[:url].present? %>"
                        <%= ('data-method="' + act[:data_method] + '"').html_safe if act[:data_method].present? %>
                        <%= ('data-confirm="' + act[:data_confirm] + '"').html_safe if act[:data_confirm].present? %>
                    >
                        <%= act[:text].html_safe %>
                    </a>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>    