<div class="btn-group">
    <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="fa fa-cog"></i>
        <%= t('core.options') %>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <% actions.each do |act| %>
            <% if act[:divider] %>
                <li class="divider"></li>
            <% else %>
                    <% if !act[:hide].present? %>
                    <li>
                        <a
                            href="<%= act[:url] if act[:url].present? %><%= act[:href] if act[:href].present? %>"
                            <%= ('data-method="' + act[:data_method] + '"').html_safe if act[:data_method].present? %>
                            <%= ('data-confirm="' + act[:data_confirm] + '"').html_safe if act[:data_confirm].present? %>
                            class="<%= act[:class] if act[:class].present? %>"
                            <%= ('target="' + act[:target] + '"').html_safe if act[:target].present? %>
                            <%= ('data-checkboxes="' + act[:data_checkboxes] + '"').html_safe if act[:data_checkboxes].present? %>
                            <%= ('data-checkboxes-desc="' + act[:data_checkboxes_desc] + '"').html_safe if act[:data_checkboxes_desc].present? %>
                        >
                            <%= act[:text].html_safe %>
                        </a>
                    </li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>
