<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light datalist"
    data-url='<%= options[:url] %>'
    data-id='<%= Digest::SHA1.hexdigest([Time.now, rand].join) %>'
>
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <%= erp_list_actions_button(
                options[:actions]
            ) %>
            <%= erp_datalist_filters(
                options[:filters]                
            ) %>            
            <%= erp_datalist_columns_select(
                options[:columns]
            ) %>                
        </div>
        <div class="actions">
            <div class="list-search-items">
            </div>
            <div class="form-group form-md-line-input has-success form-md-floating-label list-filters-search">                
                <div class="input-icon right">                    
                    <input type="text" class="form-control" placeholder="Type to search">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen pl-10" href="javascript:;" data-original-title="" title=""> </a>
            <a href="" class="reload"> </a>
        </div>
    </div>
    <div class="portlet-body datalist-container">
        
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->