<div class="btn-group btn-group-checkable">
    <a class="btn btn-default green-seagreen" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="fa fa-filter"></i>
        <%= t('core.filters') %>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-left datalist-filters">
        <% actions.each do |act| %>
            <% if act[:divider] %>
                <li class="divider"></li>
            <% else %>
                <li
                  data-id='<%= Digest::SHA1.hexdigest([Time.now, rand].join) %>'
                  class="<%= "checked" if act[:checked] %>"
                  name="<%= act[:name] if act[:name] %>"
                  value="<%= act[:value] if act[:value] %>">
                    <a href="javascript:;"> 
                         <%= act[:text].html_safe %>
                    </a>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>