<!DOCTYPE html>
<!-- 
App name: ERP, Enterprise Resource Planning Software, ERP Software, ERP System, ERP Solutions
Version: 1.0.0
Author: Luan Pham, Son Nguyen, Hung Nguyen
Website: http://globalnaturesoft.com/
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>ERP (Enterprise Resource Planning) System, ERP Software | Global Naturesoft</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" %>
        <%= stylesheet_link_tag "/backend/assets/global/plugins/font-awesome/css/font-awesome.min.css" %>
        <%= stylesheet_link_tag "/backend/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" %>
        <%= stylesheet_link_tag "/backend/assets/global/plugins/bootstrap/css/bootstrap.min.css" %>
        <%= stylesheet_link_tag "/backend/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" %>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <%= stylesheet_link_tag "/backend/assets/global/css/components-md.min.css" %>
        <%= stylesheet_link_tag "/backend/assets/global/css/plugins-md.min.css" %>
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <%= stylesheet_link_tag "/backend/assets/layouts/layout/css/layout.min.css" %>
        <%= stylesheet_link_tag "/backend/assets/layouts/layout/css/themes/darkblue.min.css" %>
        <%= stylesheet_link_tag "/backend/assets/layouts/layout/css/custom.min.css" %>
        <!-- END THEME LAYOUT STYLES -->
        <%= favicon_link_tag '/backend/favicon.png', rel: 'shortcut icon' %>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <!-- Includes: logo, mega menu, header search box, responsive menu toggler, top navigation menu -->
            <%= render "layouts/erp/backend/header" %>
            <!-- END HEADER -->
            
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <%= render "layouts/erp/backend/sidebar" %>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <%= yield %>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <%= render "layouts/erp/backend/quick_sidebar" %>
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
            
            <!-- BEGIN FOOTER -->
            <%= render "layouts/erp/backend/footer" %>
            <!-- END FOOTER -->
        </div>
        <!-- BEGIN QUICK NAV -->
        <%= render "layouts/erp/backend/quick_nav" %>
        <!-- END QUICK NAV -->
        <!-- BEGIN JAVASCRIPT INCLUDES -->
        <%= render "layouts/erp/backend/javascript_includes" %>
        <!-- END JAVASCRIPT INCLUDES -->
    </body>

</html>