<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<html lang="vi">
    <head>
        <%= csrf_meta_tags %>
        <meta charset="utf-8" />
        <title><%= yield(:title) %> | Tìm Hàng Công Nghệ</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="robots" content="noindex, nofollow">
        <%= render partial: 'layouts/erp/backend/head' %>
        <%= favicon_link_tag '/backend/favicon.png', rel: 'shortcut icon' %>
    </head>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-container-bg-solid">
        <div class="page-wrapper">
            <%= render partial: 'layouts/erp/backend/header' %>
            <div class="clearfix"></div>
            <div class="page-container">
                <%= render partial: 'layouts/erp/backend/sidebar' %>
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <%= render partial: 'layouts/erp/backend/page_bar' %>
                        <% if content_for?(:title) %><% else %><% end %>
                        <div class="row">
                            <div class="col-md-12">
                                <% if content_for?(:global_filter) %><form class="global-filter"><%= yield(:global_filter) %></form><% end %>
                                <% if content_for?(:top_page) %><%= yield(:top_page) %><% end %>
                                <%= yield %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'layouts/erp/backend/footer', cached: true %>
        </div>
        <%= render partial: 'layouts/erp/backend/javascripts' %>
        <%= render partial: 'layouts/erp/backend/flash_messages' %>
    </body>
</html>