<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <title>Đăng Nhập Tài Khoản | Tìm Hàng Công Nghệ</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="robots" content="noindex, nofollow">
        <%= render partial: 'layouts/erp/backend/login/head', cached: true %>
        <%= favicon_link_tag '/backend/favicon.png', rel: 'shortcut icon' %>
    </head>
    <body class=" login">
        <%= render partial: 'layouts/erp/backend/login/logo', cached: true %>
        <div class="content"><%= yield %></div>
        <%= render partial: 'layouts/erp/backend/login/copyright', cached: true %>
        <%= render partial: 'layouts/erp/backend/login/scripts', cached: true %>
    </body>
</html>